


// bower:scss
// endbower

.browsehappy {
  background: #ccc;
  color: #000;
    padding: 0;

}

body {
  padding: 0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  color: white;
}


//TYPOGRAPHY 
p.time {
  font-size: 12em;
  margin: 0;
  font-weight: 300;
}

h2 {
  font-size: 6em;
  text-transform: uppercase;
  font-weight:100;
  margin-top: 20px;
}

p.date{
    border: 1px solid red;
    width: 50%;
    padding: 15px;
    margin: 0 auto;
    font-size: 2.5em;
    text-transform: uppercase;

   }

.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  //-webkit-justify-content: center; /* Safari */
  //justify-content: center;
  height: 98vh;
  width:100%;
}

.flex-item {
  display: flex;
  margin:1vh;
  background: #000;
  color: white;
  text-align:center;
  width:33%;
  //justify-content: center;
  flex-direction: column;
  align-self:stretch;
  justify-content:space-between;
  align-items:stretch;

}

.test-border{
  border: 1px solid black;
}

.flex-vertical-item {
    display: flex; 
    height:30%;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.background001 {
  background-size: cover;
  background-position: center;
  background-image:url("../images/bg-ph.png");
}
.clock{
    display: flex; 
    justify-content: center;
     align-items:center;

}

ul {
    padding: 0;
    list-style-type: none;
}
.tod{
 font-size: 4em;
 list-style: none;
 font-weight: 400;


 }

.active-arrow {
  background-image:url("../images/active-arrow.png");
    background-size:90%;
    background-position:top center; 
    background-repeat:no-repeat;
    height:300px;
    width:100%;
    z-index: 3;
}


//Background elements
.gradient-fade{
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax */ 
    z-index: 10;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}



/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
