<div class="flex-item">   
 <p class="time">10:00</p>

</div>
<div class="flex-item">
  <div class="active-arrow"></div>
    <p class="time">10:00</p>
</div>
<div class="flex-item background001">
    <div class="flex-vertical-item ">
    	<h4>Sydney</h4>
    	<h2>Australia</h2>
    </div>
 	 <div class="flex-vertical-item test-border ">    
 	 	<div class="clock test-border">
 	 	<p class="time ">10:00 	
 	 	<ul>
 	 		<li class="tod">AM</li>
 	 		<li class="tod">PM</li>
 	 	</ul></p>
 	 	</div>
 	 </div>

<div class="flex-vertical-item gradient-fade">
	<p class="date">SUNDAY 13th</p>
</div>
</div>

 <!--<p>{{ main.clock.time | date:'medium':'+0430'}}</p>
 <p>{{ main.clock.time | date:'medium':'-0700'}}</p>-->
